#intro-page.page
  .pure-g
    .pure-u-1
      h1 Countdown
  form.pure-form.pure-form-stacked
    fieldset
      label(for='player') Play
      select#player.pure-input-1(name='player')
        option(value='winn') the winner
        option(value='lose') the loser
        option(value='cham') the champion
        option(value='chal') the challenger
        option(value='rand') a random player
      label(for='episode') from
      input#episode.pure-input-1(type='text', placeholder='Episode number... leave blank for random')
      label(for='yourname') Your name
      input#yourname.pure-input-1(type='text', placeholder='Enter your name', value=name)
      button#go.nice-button.pure-input-1.mt-10 Play!
  form.pure-form.pure-form-stacked
    fieldset
      legend Settings
      .pure-g
        .pure-u-1-2.pure-u-md-1-5
          label.control-label(for='setting-speed') Game speed
          label.pure-radio(for='setting-speed-one')
            input#setting-speed-one(type='radio', name='setting-speed', value='700', checked= speed===700 ? '' : undefined)
            |  Slow
          label.pure-radio(for='setting-speed-two')
            input#setting-speed-two(type='radio', name='setting-speed', value='500', checked= speed===500 || !speed ? '' : undefined)
            |  Medium
          label.pure-radio(for='setting-speed-three')
            input#setting-speed-three(type='radio', name='setting-speed', value='300', checked= speed===300 ? '' : undefined)
            |  Fast
        .pure-u-1-2.pure-u-md-1-5
          label.control-label(for='setting-rounds') Include rounds
          label.pure-radio
            input#setting-inc-letters(type='checkbox', value='option1', checked=skipLetters ? undefined : '')
            |  Letters
          label.pure-radio
            input#setting-inc-numbers(type='checkbox', value='option2', checked=skipNumbers ? undefined : '')
            |  Numbers
          label.pure-radio
            input#setting-inc-conundrum(type='checkbox', value='option3', checked=skipConundrums ? undefined : '')
            |  Conundrum
        .pure-u-1-2.pure-u-md-1-5
          label.control-label(for='setting-clock') Round length (seconds)
          input#setting-clock.pure-input-1-3(type='number', value=timerlength || '30')
        .pure-u-1-2.pure-u-md-1-5
          button#reset.pure-button.pure-button-primary Reset cache
          .version= version
